<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>file uploads</title>
</head>

<body>

    <div>
        <form action="/upload" method="POST" enctype="multipart/form-data"><br><br><br>
            <input type="file" name="profileImage"><br><br><br>
            <button type="submit">Upload Image</button>
        </form>
    </div>

</body>

</html>